@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>NimbusFive GmbH</strong><br/>
    Ruhrallee 9<br/>
    44139 Dortmund<br/>
    <abbr title="Phone">P:</abbr>
    +49 (0) 231 / 58697275
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@nimbow.com">support@nimbow.com</a><br />
</address>